<div class="flex flex-column justify-content-center align-items-center gap-2">
    <div class="h-screen flex flex-column align-items-center justify-content-center">
        <h1 class="gradient-text">Let's have fun!</h1>
        <div id="scroll-down">
            <p-button icon="pi pi-chevron-down" [rounded]="true" [text]="true" [style]="{'cursor': 'default'}"/>
        </div>
    </div>
    <div>
    </div>
    <div id="coinList" class="flex flex-wrap justify-center gap-8">
        <div
                pAnimateOnScroll
                enterClass="animate-enter animate-duration-3000"
                class="flex flex-col h-screen pt-8">
        </div>
    </div>
</div>
